.body{
    background: rgb(255, 239, 209);
    text-align: center;
    font: Helvetica;
}
.title{
    font: bold 20px Helvetica;
    padding: 15px;
}
.section{
    background: white;
    border-radius: 10px;
    width:60%;
    box-shadow: 5px 5px 30px;
    padding: 20px;
    margin: auto;
    
}
.footer{
    padding: 15px;
    font: bold 15px Helvetica;
}
.input{
    text-align: left;
}
.res{
    text-align: left;
}